<!DOCTYPE html>
 <html>
   <head>
    <%- include('../partials/blocks/menu.ejs') %>
     <link rel = "stylesheet" href = "stil.css">
     </head>
     <body>
      <div align = "center" class="container-about">
        <div align = "center" class="about">
          <h1>CodePlanet - Proqramlaşdırma Cəmiyyəti</h1>
          <h3>Azərbaycanda proqramistləri cəlb etmək üçün yaradılmış bir proyektdir. Bu proyektin məqsədi istifadəçilərə həm proqramlaşdırma öyrətmək, həm də proqramistlərin bir-biri ilə əlaqə qura bilməsi üçündür. </h3>
        </div>
        </div>
        <br>
        <div align = "center" class = "projects">
          <h1>Proyektlərimiz</h1>
          <div class = "project-card">
            <span class = "title">Proyekt adı : CodeCraft</span><br><br>
            <span class = "small-description">Proyektin qısa açıqlaması : Ursina modulu ilə yazılmış Minecraft alternativi</span><br><br>
            <span class = "long-description">Proyektin uzun açıqlaması : CodeCraft Pythonun Ursina modulu ilə yazılmış bir oyundur. Bu oyunda 4 block, hərəkət, qurma və silmə kimi xüsusiyyətlər var.</span><br><br>
            <span id = "icon"><a href = "https://github.com/codeplanett/minecraft-basic">Github</a></span>
          </div>
          <div class = "project-card">
            <span class = "title">Proyekt adı : WikiSearch</span><br><br>
            <span class = "small-description">Proyektin qısa açıqlaması : Wikipedia üçün yazılan süni intellekt</span><br><br>
            <span class = "long-description">Proyektin uzun açıqlaması : WikiSearch sizə Wikipedia portalında istənilən dokumentin səsli oxudulmasında kömək edir.</span><br><br>
            <span id = "icon"><a href = "https://github.com/codeplanett/minecraft-basic">Github</a></span>
          </div>
          <div class = "project-card">
            <span class = "title">Proyekt adı : CodeCraft</span><br><br>
            <span class = "small-description">Proyektin qısa açıqlaması : Ursina modulu ilə yazılmış Minecraft alternativi</span><br><br>
            <span class = "long-description">Proyektin uzun açıqlaması : CodeCraft Pythonun Ursina modulu ilə yazılmış bir oyundur. Bu oyunda 4 block, hərəkət, qurma və silmə kimi xüsusiyyətlər var.</span><br><br>
            <span id = "icon"><a href = "https://github.com/codeplanett/minecraft-basic">Github</a></span>
          </div>
        </div>
     </body>
   <style>
     body {
       font-size : 32px;
     }
    
     .container-about {
       width : 1000px;
       margin : auto;
     }



    .project-card {
      width : 700px;
      height : 500px;
      border : 2px solid black;
      background: white;
      color : black;
      padding : 25px;
      border-radius: 9px;
      text-align: center;
      font-size: 33px;
      display: inline-block;
    }

    .project-card a {
        color: black;
    }
   </style>
</html>